<div class="container">
		<div class="row">
			<div class="row">
				<h2>{{ post.title }}</h2>
				<span>Posted by: {{ post.author }}</span>
				
			</div>
			<div class="row">
				<p class="eight columns">{{ post.content }}</p>
				
				<div class "four columns"><img ng-src="{{ post.image.path }}" alt="{{ post.image.altText }}"></div>
			</div>
			<div class="row"><span ng-repeat"comment in post.comments">{{ post.comments.length + 1 }} comments</span>
				<ul>
					<li ng-repeat="comment in post.comments">"{{ comment.comment }}" by {{ comment.commenter }}</li>
					<li>"Fantastic" by {{ name }}</li>
				</ul>

			</div>
		</div>
</div>

